html {
    display: flex;
    justify-content: center;
}
#taskContainer{
    top: 44%;
    position: absolute;
    width: 50%;
    right: 22%;
}
#imgUser{
    width: 12%;
    position: absolute;
    top: 16%;
    right: 66%;
}
#comment{
    display: none;
}
.delete{
    width: 100%;
    background: none;
    border: none;
    color: #EF104C;
    font-size: initial;
    /*position: absolute;*/
    top: 62%;
    right: 0%;
}
#email-error {
    color: red;
}
#section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 137% 0 0 0;
}
#fondo {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#root {
    display: flex;
    justify-content: center;
}
.title {
    background-color: blueviolet;
}
h2 {
    background-image: url(./imagenes/logo.png);
}
.email {
    border: none;
    border-bottom: 1px solid black;
    margin: 1% 0 4% 0;
    color: gray;
    flex-direction: column;
    margin: 14% 0 0 0;
}
#password {
    border: none;
    border-bottom: 1px solid black;
    margin: 1% 0 4% 0;
    color: gray;
    flex-direction: column;
    margin: 14% 0 0 0;
}
#username {
    border: none;
    border-bottom: 1px solid black;
    margin: 1% 0 4% 0;
    color: gray;
    flex-direction: column;
    margin: 14% 0 0 0;
}
.buttonGetinto {
    margin: 16% 0 0 0;
    width: 38%;
    height: 5%;
    position: absolute;
    top: 50%;
    left: 31%;
    background-color: #FE5E89;
    border-radius: 51px;
    border-color: #f8f5f500;
    color: white;
}
.buttonCreate {
    margin: 16% 0 0 0;
    width: 49%;
    height: 5%;
    position: absolute;
    top: 77%;
    border-color: #14EDDD;
    left: 26%;
    border-radius: 42px;
    background-color: #ffffff0a;
}
.buttonRegister {
    margin: 16% 0 0 0;
    width: 38%;
    position: absolute;
    top: 58%;
    left: 31%;
}
.buttonGoogle {
    position: absolute;
    top: 73%;
    width: 46%;
    left: 26%;
}
.line {
    position: absolute;
    top: 67.5%;
    width: 63%;
    left: 18%;
}
.username {
    border: none;
    border-bottom: 1px solid black;
    margin: 1% 0 4% 0;
    color: gray;
    flex-direction: column;
    margin: 14% 0 0 0;
}
.password {
    border: none;
    border-bottom: 1px solid black;
    margin: 1% 0 4% 0;
    color: gray;
    flex-direction: column;
    margin: 14% 0 0 0;
}
#logo {
    width: 55%;
    position: absolute;
    top: 6%;
    left: 24%;
}
#logo2 {
    width: 20%;
    position: absolute;
    top: 2%;
    left: 5%;
}
#autoresizing{
    display: block;
    overflow: hidden;
    resize: none;
}
.send {
    position: absolute;
    top: 72%;
    width: 18%;
    height: 21%;
    background: #14EDDD;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    left: 75%;
}
.edit {
    position: relative;
    top: 23%;
    right: 30%;
    background: none;
    border: none;
    /* color: gray; */
    font-size: initial;
    /* border-bottom: 0.5px solid gray; */
    width: 10%;
    padding: 1% 3% 7% 1%;
}
.delete {
    width: 13%;
    top: 61%;
    right: 55%;
}
.likeEmptyIcon {
    width: 15%;
    position: relative;
    top: 17%;
    left: 96%;
    display: block;
    margin: -22% 0% 0% 0%;
}
.likeFullIcon {
    width: 15%;
    position: relative;
    left: 96%;
    display: block;
    margin: -22% 0% 0% 0%;
}

.iconComment {
    width: 13%;
    top: -22.5px;
    left: 72%;
    position: relative;
}
#post {
    width: 66%;
    display: flex;
    height: 11%;
    border-color: #EF104C;
    position: absolute;
    top: 19%;
    left: 18%;
    border-radius: 10px;
}
.buttonSingOff {
    position: absolute;
    top: 5%;
    left: 68%;
    background: white;
    border-color: #14EDDD;
    border-radius: 8px;
    font-weight: bold;
}
#dialog {
    width: 73%;
    height: 11%;
    border-radius: 10px;
    border: none;
    background: white;
    left: 3%;
    top: -51%;
}
.buttonX{
    width: 5%;
    left: 91%;
    position: absolute;
}
#ShowModal {
    height: 42%;
    border: none;
    display: inline-block;
    min-width: 100px;
    width: 93%;
    position: absolute;
    top: 20%;
    right: 3%;
}
.adjustmentButtonsIcon {
    width: 2%;
    top: 16%;
    transform: rotate(90deg);
    left: 79%;
    position: absolute;
}
.ButtonsShowModal {
    width: 2%;
    top: 16%;
    transform: rotate(90deg);
    left: 88%;
}
.dialogAjustes{
    width: 64%;
    height: 15%;
    border-radius: 10px;
    border: none;
    background: #FCF7F7;
    left: 3%;
    top: -21%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttonX2{
    width: 5%;
    left: 91%;
    position: absolute;
    top: 7%;
}
#comments{
    width: 132%;
    display: flex;
    height: 11%;
    border-color: #EF104C;
    border-radius: 10px;
    margin: -4% 25% 30% -22%;
}
