html {
    display: flex;
    justify-content: center;
}

#email-error {
    color: red;
}

#section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 137% 0 0 0;
}

#fondo {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#root {
    display: flex;
    justify-content: center;
}

img {
    width: 61%;
    position: absolute;
    right: 18%;
    top: 6%;

}

.title {
    background-color: blueviolet;
}

h2 {
    background-image: url(./imagenes/logo.png);
}

.email {
    border: none;
    border-bottom: 1px solid black;
    margin: 1% 0 4% 0;
    color: gray;
    flex-direction: column;
    margin: 14% 0 0 0;
}

#password {

    border: none;
    border-bottom: 1px solid black;
    margin: 1% 0 4% 0;
    color: gray;
    flex-direction: column;
    margin: 14% 0 0 0;
}

#username {
    border: none;
    border-bottom: 1px solid black;
    margin: 1% 0 4% 0;
    color: gray;
    flex-direction: column;
    margin: 14% 0 0 0;
}

.buttonGetinto {
    margin: 16% 0 0 0;
    width: 38%;
    height: 5%;
    position: absolute;
    top: 50%;
    left: 31%;
    background-color: #FE5E89;
    border-radius: 51px;
    border-color: #f8f5f500;
    color: white;
}

.buttonCreate {
    margin: 16% 0 0 0;
    width: 49%;
    height: 5%;
    position: absolute;
    top: 77%;
    border-color: #14EDDD;
    left: 26%;
    border-radius: 42px;
    background-color: #ffffff0a;
}

.buttonRegister {
    margin: 16% 0 0 0;
    width: 38%;
    position: absolute;
    top: 58%;
    left: 31%;
}

.buttonGoogle {
    position: absolute;
    top: 73%;
    width: 46%;
    left: 26%;
}

.line {
    position: absolute;
    top: 67.5%;
    width: 63%;
    left: 18%;
}

.username {
    border: none;
    border-bottom: 1px solid black;
    margin: 1% 0 4% 0;
    color: gray;
    flex-direction: column;
    margin: 14% 0 0 0;
}

.password {
    border: none;
    border-bottom: 1px solid black;
    margin: 1% 0 4% 0;
    color: gray;
    flex-direction: column;
    margin: 14% 0 0 0;
}

#logo2 {
    width: 20%;
    position: absolute;
    top: 2%;
    left: 5%;
}

.send {
    position: absolute;
    top: 72%;
    width: 18%;
    height: 21%;
    background: #14EDDD;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    left: 75%;
}

.edit {
    position: absolute;
    top: 31.5%;
    right: 25%;
    background: none;
    border: none;
    color: #EF104C;
    font-size: 97%;
}

.delete {
    width: 4%;
    top: 31%;
}

.like1 {
    width: 6%;
    top: 31.5%;
    left: 22%;
}

.like2 {
    width: 6%;
    top: 31.5%;
    left: 22%;
    display: none;
}

.iconComment {
    width: 6%;
    top: 31.5%;
    left: 33%;
}

#post {
    width: 66%;
    display: flex;
    height: 11%;
    border-color: #EF104C;
    position: absolute;
    top: 19%;
    left: 18%;
    border-radius: 10px;
}

.buttonSingOff {
    position: absolute;
    top: 5%;
    left: 68%;
    background: none;
    border-color: #14EDDD;
    border-radius: 8px;
    font-weight: bold;
}

#dialog {
    width: 73%;
    height: 11%;
    border-radius: 10px;
    border: none;
    background: #fcf7f7;
    left: 3%;
    top: -51%;

}
#ShowModal {
    border: none;
    display: inline-block;
    min-width: 100px;

}
.adjustmentButtonsIcon {
    width: 2%;
    top: 16%;
    transform: rotate(90deg);
    left: 79%;
}
.ButtonsShowModal {
    width: 2%;
    top: 16%;
    transform: rotate(90deg);
    left: 88%;

}
.dialogAjustes{
    width: 64%;
    height: 4%;
    border-radius: 10px;
    border: none;
    background: #fcf7f7;
    left: 3%;
    top: -21%;

}